{% extends 'base.html.twig' %}

{% block title %}Products view - {% endblock %}

{% block body %}

    <h1>Product View - <small>{{ product.name }}</small></h1>
    <hr>    

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>$ {{ product.price|number_format(2, ",", ".") }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description|nl2br }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
